.app-loading-screen {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: $app-color-bg-primary;
}
.app-loading-screen-bar {
  max-inline-size: 300px;
}
