.app-wrapper {
	display: grid;
	grid-template-rows: [body] minmax(0, 1fr) [footer] max-content;
	min-block-size: 100vh;
	min-block-size: 100dvh;
}

.container {
	margin-inline: auto;
	padding-inline: 16px;
	width: 800px;
}

.app-header {
	position: fixed;
	top: 0;
	inline-size: 100%;
}

.app-body {
	grid-row: body;
	padding-top: var(--app-header-height);
}

.app-footer {
	grid-row: footer;
}

.section {
	padding: 1.5rem 0;
}
